.header {
  height: 36vw;
  width: 100% !important;
  margin: 30px auto;
  background-image: url("../../../public/header_img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 15px;
}

.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-content h2 {
  font-weight: 500;
  color: white;
  font-size: max(4vw, 22px);
}

.header-content p {
  color: white;
  font-size: max(1vw, 16px);
}

.header-content button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}

@media (max-width: 900px) {
  .header {
    height: 40vw;
  }

  .header-content {
    max-width: 65%;
  }
}

@media (max-width: 750px) {
  .header-content {
    max-width: 55%;
  }

  .header-content p {
    display: none;
  }

  .header-content button {
    padding: 2vw 4vw;
    margin-top: 10px;
  }
}
